@import url("https://fonts.googleapis.com/css?family=Neonderthaw:700|Smooch%20Sans:400");
@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=Playwrite+VN:wght@100..400&family=Smooch+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
:root[data-theme="light"] {
  --text: #141414; /* Night - Primary Text */
  --background: #fffbdb; /* Light Yellow - Background */
  --primary: #7776bc; /* Glaucous - Primary Color */
  --secondary: #cdc7e5; /* Periwinkle - Secondary Color */
  --accent: #ff5722; /* Softer Scarlet - Accent Color */
  --accent-hover: #ff7043; /* Softer Orange for Hover Effects */
}

:root[data-theme="dark"] {
  --text: #fffbdb; /* Light Yellow - Primary Text */
  --background: #141414; /* Night - Background */
  --primary: #7776bc; /* Glaucous - Primary Color */
  --secondary: #978fb7; /* Periwinkle - Secondary Color */
  --accent: #ff5722; /* Softer Scarlet - Accent Color */
  --accent-hover: #f68461; /* Softer Orange for Hover Effects */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Smooch Sans";
  font-weight: 600;
  color: var(--text);
  background-color: var(--background);
}

.name {
  font-family: "Yellowtail", serif;
  font-weight: 100;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}

.loader-glow {
  animation: glow 2s ease-in-out infinite;
}

.loader-float {
  animation: float 3s ease-in-out infinite;
}
